{% extends "base.html" %}

{% block content %}

    <h1>{{ product.name }}</h1>
    {% for feature in product.productfeature_set.all %}
        <b>{{ feature.feature.name }}</b>: {{ feature.value }} <br>
    {% endfor %}
    <ul class="list-group">
        {% if object_list.count %}
            {% for object in object_list %}

                <li class="list-group-item">
                    <b>{{ object.user }}</b> {{ object.time }}
                    <br>
                    {% for score in object.reviewscore_set.all %}
                        {{ score.score.name }} -
                        {% for s in range(score.value) %}

                        {% endfor %}
                        <br>
                    {% endfor %}
                    {{ object.text }}
                    <br>
                </li>


            {% endfor %}
        {% else %}
            No reviews.
        {% endif %}
    </ul>

{% endblock %}
