{% extends "base.html" %}

{% block content %}
    <div class="row top-products-list ">
        <a href="{% url "reviews:type_list" %}" class="navig-left"><i class="fa fa-arrow-circle-left">Back</i></a>
        <a href="{% url "reviews:create_product" object.id %}" class="navig-right"><i class="fa fa-plus-circle">Add Product</i></a>
    </div>
    <br>
    <div class="row">
    <ul class="list-group">
        {% if object.product_set.all %}
            {% for product in object.product_set.all|dictsortreversed:"review_set.count"  %}
                 <a href="{{ product.get_absolute_url }}" class="list-group-item list-view">
                    {{ product.name }}
                     {% if product.avg_score != 0 %}
                        <i class="fa fa-star"> {{ product.avg_score }}/10</i>
                     {% endif %}
                    <span class="badge badge-product">{{ product.review_set.count }}</span>

                 </a>
            {% endfor %}
        {% else %}
            No products.
        {% endif %}
    </ul>
    </div>

{% endblock %}
