{% extends "base.html" %}

{% load product_extras %}
{% load humanize %}
{% load bootstrap3 %}

{% block css %}
    <link href="/static/css/star-rating.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}



{% block content %}
    <div class="row top-products-list ">
        <a href="{% url "reviews:product_list" pk=product.type.pk %}" class="navig-left"><i class="fa fa-arrow-circle-left ">Back</i></a>
    </div>
    <div class="row">
    <h1>{{ product.name }}</h1>
    <ul>
    {% for feature in product.productfeature_set.all %}
        <li><b>{{ feature.feature.name }}</b>: {{ feature.value }} </li>
    {% endfor %}
    </ul>
    </div>
    <br>
    <div class="row" id="form_review">

        {% if user.id %}
            {% if user.id not in users %}

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add review</h3>
                    </div>
                    <div class="panel-body">
                         <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="fieldWrapper">
                                    {{ field.errors }}
                                    {%  if 'score' in field.name %}
                                        {{ field.label_tag }}
                                        <input id="id_{{ field.name }}" name="{{ field.name }}" type="text" class="rating" data-size="xs" data-max="10" data-step="1">

                                    {% else %}
                                        {% bootstrap_field field %}
                                        {% if field.help_text %}
                                            <p class="help">{% bootstrap_field field.help_text|safe %}</p>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                            {% buttons %}
                                <button type="submit" class="btn btn-primary">
                                    Save {% bootstrap_icon "save" %}
                                </button>
                            {% endbuttons %}
                        </form>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
    <div class="row">
        <ul class="list-group" id="reviews">
            {% if object_list.count %}
                {% for object in object_list %}

                    <li class="list-group-item">
                        <b class="review-name">{{ object.user }}</b>
                        <i>{{ object.time|naturaltime }}</i>
                        <br>
                        {% if user.id %}
                            {% if user.id == object.user.id %}

                                <a href="{% url "reviews:update_review" type=product.type.id product=product.id pk=object.id %}">Update</a>
                                | <a href="{% url "reviews:delete_review" type=product.type.id product=product.id pk=object.id %}">Delete</a>

                            {% endif %}
                        {% endif %}
                        <br>
                        {% for score in object.reviewscore_set.all %}
                            <span class="col-xs-3 col-md-1">
                                {{ score.score.name }}
                            </span>
                            <span class="col-xs-9 col-md-11">
                                {% for s in score.value|full_stars %}
                                    <i class="fa fa-star"></i>
                                {% endfor %}
                                {% for s in score.value|empty_stars %}
                                    <i class="fa fa-star-o"></i>
                                {% endfor %}
                            </span>
                            <br>
                        {% endfor %}
                        <hr class="review-hr">
                        {{ object.text }}
                        <br>
                    </li>


                {% endfor %}
            {% else %}
                No reviews.
            {% endif %}
        </ul>
    </div>

{% endblock %}

{% block script %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
<script src="/static/js/star-rating.js" type="text/javascript"></script>

<script type="text/javascript">
    $(".rating").rating({stars: 10, showCaption: false, showClear: false});
</script>

{% endblock %}
