{% extends "base.html" %}

{% block content %}

    <ul class="list-group">
        {% if object_list.count %}
            {% for object in object_list %}

                 <a href="{% url 'reviews:reviews' type=object.type.id id=object.id %}">
                     <li class="list-group-item">
                         {{ object.name }}
                     </li>
                 </a>

            {% endfor %}
        {% else %}
            No products.
        {% endif %}
    </ul>

{% endblock %}
