{% extends "base.html" %}

{% block content %}
    
    <ul class="list-group">
        {% if object_list.count %}
            {% for object in object_list %}

                <li class="list-group-item">{{ object.time }}</li>
                <li class="list-group-item">{{ object.product.name }}</li>
                <li class="list-group-item">{{ object.text }}</li>
                <li class="list-group-item">{{ object.user }}</li>


            {% endfor %}
        {% else %}
            No reviews.
        {% endif %}
    </ul>

{% endblock %}
