<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            {{ view.page_title }} | Reviewer
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/base.css" >
    <nav class="navbar navbar-default navbar-static-top navbar-base">
        <div class="container-fluid">
            <div class="navbar-header">
                <span class="navbar-brand">
                    <a href="">
                    <img style="max-width:200px; margin-top: -10px;" src="/static/logo.png">
                    </a>
                </span>
                <div class="nav navbar-nav navbar-ul">

                    <span class="default ">
                        <b><i class="fa fa-user"></i>{{ user }}  </b>|<a href="{% url 'logout' %}">  Logout</a>
                    </span>
                </div>
            </div>

        </div>
    </nav>


</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% block content %}
                    CONTENT
                {% endblock %}
            </div>
        </div>
    </div>

</body>
</html>